@model MiniF4Store.Models.KHACHHANG

@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@if (ViewBag.thanhcong == true)
{
    <div class="alert alert-success">@ViewBag.thongbao</div>
}
<h2 style="text-align:center">Chỉnh sửa tài khoản</h2>
<section class="container">
    @using (Html.BeginForm("EditProfile", "TaiKhoan", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            <h4>Chỉnh sửa thông tin tài khoản</h4>
            <br />
            <p style="color:red;">@ViewBag.ErrorMessage@ViewBag.Message</p>
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.SDT_KH)
            <div class="form-group">
                <b>Họ tên khách hàng</b>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.TENKH, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TENKH)
                </div>
            </div>

            <div class="form-group">
                <b>Địa chỉ</b>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.DIACHI, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DIACHI)
                </div>
            </div>

            <div class="form-group">
                <b>Email</b>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.EMAIL, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EMAIL)
                </div>
            </div>

            <div class="form-group">
                <b>Mật khẩu</b>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.MATKHAU, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MATKHAU)
                </div>
            </div>
            <h4>Chỉnh sửa thông tin nhận hàng</h4>
            <br />
            <div class="form-group">
                <b>Người nhận hàng</b>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.TEN_NHANHANG, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TEN_NHANHANG)
                </div>
            </div>
            <div class="form-group">
                <b>Số điện thoại nhận hàng</b>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.SDT_NHANHANG, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SDT_NHANHANG)
                </div>
            </div>
            <div class="form-group">
                <b>Địa chỉ nhận hàng</b>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.DIACHI_NHANHANG, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DIACHI_NHANHANG)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Lưu" class="site-btn" />
                </div>
            </div>
        </div>
    }
    <a style="color: #80ac3c;" href="/TaiKhoan/Profile">Quay lại</a>
    <br />
    <hr />
    <br />
</section>
<script>
    var kqMessage = '@ViewBag.thongbao';
    if (kqMessage) {
        alert(kqMessage);
    }
</script>